:root{
    --color-green: #50fa7b;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background:#282a36;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
header{
    /* Espaço interno do elemento */
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}
.links{
    text-align: center;
}
.links a{
    color: white;
    font-size: 18px;
    /* Quando estiver em duvida sempre utilizar 10px a mais em relação ao tamanho da fonte */
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}
.links a:hover{
    color: var(--color-green);
    transition: color 400ms;
}

#wrapper{
    text-align: center;
    /* Espaço entre os elementos de 32px */
    padding: 32px; 
}

#wrapper img{
    border-radius: 50%;
    border: 5px solid var(--color-green);;
    margin-bottom: 32px;
    height: 250px;
}

#wrapper h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}
#wrapper h2{
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p{
    /* Largura */
    max-width: 450px;
    /* O texto irá para a lateral, para corrigir, colocamos margens automaticas aos lados */
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
}

#wrapper p a{
    color: var(--color-green);;
}

#links-footer a{
    border-bottom: 1px solid var(--color-green);
}


/* CARDS */

.cards{
    max-width: 800px;
    margin: 0 auto;
}

.card{
    background-color: #7159c1;
}

.card-image img{
    width: 100%;
}

.card-content, .card-info{
    padding: 24px;
}

.card-info{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card-price{
    background-color: #7159c1;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

